<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <!-- header -->
  <div class="header">
    <div class="container">
      <a class="logo-wrap" href="index.html">
        <img class="logo" src="../img/logo1.png" alt="">
      </a>
      <ul class="nav-list">
        <li class="nav-item"><a href="index.html">首页</a></li>
        <li class="nav-item"><a href="articles.html">日志</a></li>
        <li class="nav-item"><a href="demos.html">演示</a></li>
        <li class="nav-item"><a class="active" href="about.html">关于</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <!-- 文章 -->
    <div class="article-wrap">
      <h1 class="article-title">关于</h1>
      <div class="article">
        <p>张腾学的个人博客站点。</p>
        <p>用于记录、分享对生活、学习、见闻的理解与思路。内容均为原创，个人观点，版权所有，仅供参考。</p>
        <p>web 前端码农。追求极简主义、极致用户体验。</p>
        <p>爱思考，爱正义，爱和平，爱美好的事物。真是美，善是美，美也是美..</p>
        <p>中国西南部活跃。</p>
        <p>本站由 Java Spring Boot 驱动创建，托管于 <a href="">华为云</a> ，主题为个人设计与开发。</p>
        <p>发布日志 389 篇，发布演示 23 篇。</p>
        <h2>参与开源</h2>
        <ul>
          <li><a href="">VueJS</a></li>
          <li><a href="">VRCNJS</a></li>
        </ul>
        <h2>使用工具</h2>
        <ul>
          <li>电脑：13" MacBook Pro</li>
          <li>编辑器：Atom、VS Code</li>
          <li>相机：SONY 150ti</li>
          <li>机车：升仕 310v</li>
        </ul>
        <h2>年度 review</h2>
        <ul>
          <li><a href="">回顾 2020 年</a></li>
          <li><a href="">回顾 2021 年</a></li>
          <li><a href="">回顾 2022 年</a></li>
        </ul>
        <h2>联系我</h2>
        <ul>
          <li><a href="mailto:zhangjh03@126.com">邮箱</a>、<a href="">QQ</a></li>
          <li><a href="">知乎</a>、<a href="">掘金</a>、<a href="微博">微博</a></li>
          <li><a href=""><a href="">GitHub</a></li>
        </ul>
        <h2>友情链接</h2>
        <ul>
          <li><a href="">腾讯 UED</a></li>
          <li><a href="">ScarSu</a></li>
          <li><a href="">Tania Rascia</a></li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
