<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <!-- header -->
  <div class="header">
    <div class="container">
      <!-- <a class="logo-wrap" href="index.html">
        <img class="logo" src="../img/logo1.png" alt="">
      </a> -->
      <ul class="nav-list">
        <li class="nav-item"><a href="index.html">首页</a></li>
        <li class="nav-item"><a href="articles.html">日志</a></li>
        <li class="nav-item"><a href="demos.html">演示</a></li>
        <li class="nav-item"><a class="active" href="about.html">关于</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <!-- 文章 -->
    <div class="article-wrap">
      <h1 class="article-title">关于</h1>
      <div class="article">
        <p>个人博客站点 日志 <strong>389</strong> 演示 <strong>23</strong></p>
        <p>记录 分享个人对生活 学习 见闻的理解与思路</p>
        <p>内容均为原创 个人观点 版权所有 仅供参考</p>
        <p>主题为个人设计与开发 追求最简主义 极致用户体验</p>
        <p>爱和平 爱正义 爱美好的事物</p>
        <p>相关资源同时分享在<a href="">GitHub</a></p>
        <p><a href="mailto:zhangjh03@126.com">邮箱</a> 联系我 如果</p>
        <!-- <hr> -->
        <h2>友情链接</h2>
        <ul>
          <li><a href="">腾讯 UED</a></li>
          <li><a href="">ScarSu</a></li>
          <li><a href="">Tania Rascia</a></li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
