<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <!-- header -->
  <div class="header">
    <div class="container">
      <a class="logo-wrap" href="index.html">
        <img class="logo" src="../img/logo.png" alt="">
      </a>
      <ul class="nav-list">
        <li class="nav-item"><a href="index.html">首页</a></li>
        <li class="nav-item"><a href="articles.html">日志</a></li>
        <li class="nav-item"><a href="demos.html">演示</a></li>
        <li class="nav-item"><a class="active" href="about.html">关于</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <!-- 文章 -->
    <div class="article-wrap">
      <h1 class="article-title">关于</h1>
      <div class="article">
        <!-- 相关代码资源同时分享在 <a href="">GitHub</a>。追求最简主义 极致用户体验。 -->
        <!-- <p>累计发布日志 <strong>389</strong> 篇 演示 <strong>23</strong> 篇。</p> -->
        <!-- <p><img src="../img/logo.png" alt=""></p> -->

        <!-- <p><strong>zhangtengxue.com</strong> WEB开发者张腾学的个人博客网站。</p>
        <p>记录 分享个人视角对学习 见闻的理解与思路。网站主要内容为WEB开发相关技术的踩坑记录与经验总结 与前端效果演示用例展示。内容均为原创 个人观点 仅供参考 版权所有。</p>
        <p>累计发布日志 <strong>389</strong> 篇 演示 <strong>23</strong> 篇。</p> -->

        <!-- 实现过程 细节与总结 参见：<a href="">如何构建本站系列日志</a> -->
        <!-- <p><strong>xijue</strong> 八九年生 现居贵州贵阳 全职从事 web 开发 相信真善美 现实主义者。</p> -->

        <!-- <p>技术讨论 友情链接 等问题 联系我 如果 ? <a href="mailto:zhangjh03@126.com">邮箱: zhangjh03@126.com</a></p> -->
        <!-- <h2>设计理念</h2> -->
        <!-- <p>我相信任何事物都有一套或遵循一套最合理最科学的运行方式或解决办法或管理办法。或实现现有的 或创造未有的。</p> -->

        <!-- <p>追求最简主义 极致用户体验。</p>
        <p>保持网站没有广告 会员 社交 赞助商 打赏链接 用户跟踪与分析。最纯粹的内容展示 最直接的用户交互 最低的网络开销 确保最短时间内能检索到目标内容。</p>
        <p>网站设计与开发均由个人实现。</p>
        <p><strong>张腾学</strong> 八九年生 现居贵州贵阳 相信真善美。技术交流 友情链接 等问题 联系我 如果。</p>
        <p><a href="mailto:zhangjh03@126.com">联系邮箱 zhangjh03@126.com</a></p>
        <p><strong>Great things make time! Be patient.</strong></p> -->

        <!-- <p>主题凸显 表达直接 以致最简主义 最佳用户体验。</p> -->
        <!-- <h3>友情链接</h3>
        <p>他们个性明显也很酷 我为他们的网站标记了主题或标签 以下是他们的个人博客站点链接：</p>
        <ul>
          <li><a href="">Tencent UED</a></li>
          <li><a href="">ScarSu</a></li>
          <li><a href="">Tania Rascia</a></li>
          <li><a href="">刘明野的博客</a></li>
          <li><a href="">Tencent UED - WEB前端</a></li>
          <li><a href="">ScarSu - JAVA开发</a></li>
          <li><a href="">Tania Rascia - WEB前端</a></li>
        </ul> -->
        <!-- <h2>站点统计</h2>
        <table>
        <thead>
        <tr>
        <th style="text-align:left">日志</th>
        <th style="text-align:left">演示</th>
        <th style="text-align:left">留言</th>
        <th style="text-align:left">评论</th>
        <th style="text-align:left">友情链接</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td style="text-align:left">27</td>
        <td style="text-align:left">7</td>
        <td style="text-align:left">2</td>
        <td style="text-align:left">389</td>
        <td style="text-align:left">4</td>
        </tr>
        </tbody>
        </table> -->

        <p><strong>zhangtengxue.com</strong> WEB开发者张腾学的个人博客网站。</p>
        <p>记录与分享个人视角对学习或见闻的理解与思路。网站主要内容为WEB开发相关技术的踩坑记录与经验总结 和前端效果演示用例展示。内容均为原创 个人观点 仅供参考 版权所有。</p>
        <p>追求最简主义 极致用户体验。</p>
        <p>保持网站没有广告 会员制 社交绑定 打赏链接 等浮夸或垃圾内容。最纯粹的记录与展示 最直接的用户交互 最低的网络开销 确保最短时间内能检索到目标内容。</p>
        <p>网站的全部均由个人实现。</p>
        <p>张腾学 八九年生 现居贵州贵阳 相信真善美 不装 不作 直面现实。</p>
        <p>友情链接 意见 建议 技术交流等.. 留言或邮件 联系我 如果。联系邮箱 <a href="zhangjh03@126.com">zhangjh03@126.com</a></p>
      </div>
    </div>

    <!-- 友情链接 -->
    <div class="card">
      <div class="card-header"><span class="card-title">友情链接</span></div>
      <ul class="link-list clearfix">
        <li class="link-item"><a href="javascript:;">刘明野的博客</a></li>
        <li class="link-item"><a href="javascript:;">刘明野的博客</a></li>
        <li class="link-item"><a href="javascript:;">刘明野的博客</a></li>
        <li class="link-item"><a href="javascript:;">刘明野的博客</a></li>
        <li class="link-item"><a href="javascript:;">刘明野的博客</a></li>
      </ul>
    </div>

    <!-- 留言 -->
    <div class="comment-form">
      <div class="comment-form-header"><span class="comment-form-title">留言</span></div>
      <div class="comment-form-body">
        <ul class="comment-form-row comment-form-list">
          <li class="comment-form-item-3"><input name="name" type="text" spellcheck="false" autocomplete="off" placeholder="昵称 *"></li>
          <li class="comment-form-item-3"><input name="email" type="text" spellcheck="false" autocomplete="off" placeholder="邮箱 *"></li>
          <li class="comment-form-item-3"><input name="site" type="text" spellcheck="false" autocomplete="off" placeholder="站点"></li>
        </ul>
        <div class="comment-form-row"><textarea name="content" spellcheck="false" placeholder="留言 *"></textarea></div>
        <div class="comment-form-row comment-form-error-tips js-errortips">不合法的输入</div>
        <ul class="comment-form-row comment-form-list">
          <li class="comment-form-item-2"><a href="javascript:;" class="comment-form-reset js-msgreset">重置</a></li>
          <li class="comment-form-item-2"><a href="javascript:;" class="comment-form-submit js-msgsubmit">提交</a></li>
        </ul>
      </div>
    </div>

    <ul class="message-list js-msglist">
      <li class="message-item">
        <div class="message-user">
          <span class="message-name">SONY</span>
          <span class="message-time">2018/10/25</span>
        </div>
        <div class="message-content">也许廉价的传感器、算法根本不足以支撑那个看似庞大的数字呢？也许 xxx 像素在通讯设备上本身就已经失去了意义呢？强曝处理的 ISO 真实吗？还是你也只追求硬件美颜带来的好看。</div>
      </li>
      <li class="message-item">
        <div class="message-user">
          <span class="message-name"><a href="">漫威</a></span>
          <span class="message-time">2018/10/25</span>
        </div>
        <div class="message-content">我天</div>
      </li>
      <li class="message-item">
        <div class="message-user">
          <span class="message-name"><a href="">zhangtengxue.com</a></span>
          <span class="message-time">2018/10/25</span>
        </div>
        <div class="message-content">也许 xxx 像素在通讯设备上本身就已经失去了意义呢？强曝处理的 ISO 真实吗？还是你也只追求硬件美颜带来的好看。</div>
      </li>
      <li class="message-item">
        <div class="message-user">
          <span class="message-name"><a href="">通讯设备</a></span>
          <span class="message-time">2018/10/25</span>
        </div>
        <div class="message-content">硬件美颜带来的好看</div>
      </li>
    </ul>
  </div>

</body>
</html>
