<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <!-- header -->
  <div class="header">
    <div class="container">
      <!-- <a class="logo-wrap" href="index.html">
        <img class="logo" src="../img/logo2.png" alt="">
      </a> -->
      <ul class="nav-list">
        <li class="nav-item"><a href="index.html">首页</a></li>
        <li class="nav-item"><a class="active" href="articles.html">日志</a></li>
        <li class="nav-item"><a href="demos.html">演示</a></li>
        <li class="nav-item"><a href="about.html">关于</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <!-- 日志分类 -->
    <div class="articles-filter">
      <span class="articles-filter-title">日志属性</span>
    </div>
    <div class="articles-filter-list">
      <div class="articles-filter-item">
        <a class="btn btn-small active" href="javascript:;">全部归档</a>
        <a class="btn btn-small" href="javascript:;">2020</a>
      </div>
      <div class="articles-filter-item">
        <a class="btn btn-small active" href="javascript:;">全部分类</a>
        <a class="btn btn-small" href="javascript:;">开发手册</a>
        <a class="btn btn-small" href="javascript:;">开发手册</a>
      </div>
      <div class="articles-filter-item">
        <a class="btn btn-small active" href="javascript:;">全部标签</a>
        <a class="btn btn-small" href="javascript:;">JavaScript</a>
        <a class="btn btn-small" href="javascript:;">Python</a>
        <a class="btn btn-small" href="javascript:;">JavaScript</a>
        <a class="btn btn-small" href="javascript:;">Python</a>
      </div>
    </div>

    <!-- 日志列表 -->
    <div class="articles-filter">
      <span class="articles-filter-title">日志列表</span>
    </div>
    <ul class="articles-list">
      <li class="articles-item"><a class="articles-title" href="article.html"><h2>日志标题测试示例</h2></a><span class="articles-time">2020.05.28</span></li>
      <li class="articles-item"><a class="articles-title" href="article.html"><h2>日志标题测试示例</h2></a><span class="articles-time">2020.05.28</span></li>
      <li class="articles-item"><a class="articles-title" href="article.html"><h2>日志标题测试示例</h2></a><span class="articles-time">2020.05.28</span></li>
      <li class="articles-item"><a class="articles-title" href="article.html"><h2>日志标题测试示例</h2></a><span class="articles-time">2020.05.28</span></li>
      <li class="articles-item"><a class="articles-title" href="article.html"><h2>日志标题测试示例</h2></a><span class="articles-time">2020.05.28</span></li>
      <li class="articles-item"><a class="articles-title" href="article.html"><h2>日志标题测试示例日志标题测试示例</h2></a><span class="articles-time">2020.05.28</span></li>
      <li class="articles-item"><a class="articles-title" href="article.html"><h2>日志标题测试示例日志标题测试示例</h2></a><span class="articles-time">2020.05.28</span></li>
      <li class="articles-item"><a class="articles-title" href="article.html"><h2>日志标题测试示例日志标题测试示例</h2></a><span class="articles-time">2020.05.28</span></li>
      <li class="articles-item"><a class="articles-title" href="article.html"><h2>日志标题测试示例日志标题测试示例</h2></a><span class="articles-time">2020.05.28</span></li>
      <li class="articles-item"><a class="articles-title" href="article.html"><h2>日志标题测试示例日志标题测试示例</h2></a><span class="articles-time">2020.05.28</span></li>
    </ul>

    <!-- 加载更多 -->
    <div class="articles-more-wrap">
      <button class="btn">加载更多</button>
    </div>
  </div>

</body>
</html>
