<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <!-- header -->
  <div class="header">
    <div class="container">
      <!-- <a class="logo-wrap" href="index.html">
        <img class="logo" src="../img/logo2.png" alt="">
      </a> -->
      <ul class="nav-list">
        <li class="nav-item"><a href="index.html">首页</a></li>
        <li class="nav-item"><a class="active" href="articles.html">日志</a></li>
        <li class="nav-item"><a href="demos.html">演示</a></li>
        <li class="nav-item"><a href="about.html">关于</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <!-- 文章 -->
    <div class="article-wrap">
      <h1 class="article-title">Java 监听器Listener总结</h1>
      <div class="article-meta-wrap">
        <div class="article-meta">
          <div class="article-tags"><a class="btn btn-small" href="javascript:;">2020</a><a class="btn btn-small" href="javascript:;">开发手册</a><a class="btn btn-small" href="javascript:;">Java</a></div>
          <div class="article-time">发布于 2020年10月27日 星期二</div>
        </div>
      </div>

      <div class="article">
<!-- <p>监听器是 J2EE Servlet 模块下的组件。监听器对 Web 应用对象的行为进行监控。通过监听器监听自动触发指定的功能代码</p> -->
<h2 id="-listener">监听器 Listener</h2>
<ul>
<li>监听器是 J2EE Servlet 模块下的组件</li>
<li>监听器对 Web 应用对象的行为进行监控</li>
<li>通过监听器监听自动触发指定的功能代码</li>
</ul>
<h2 id="-">三种监听对象</h2>
<ul>
<li>ServletContext 对全局 ServletContext 及其属性进行监听</li>
<li>HttpSeesion 对用户会话及其属性操作进行监听</li>
<li>ServletRequest 对请求及其属性操作进行监听</li>
</ul>
<h2 id="-">过滤器与监听器的区别</h2>
<ul>
<li>过滤器 Filter 的职责是对 URL 进行过滤拦截 是主动执行</li>
<li>监听器 Listener 的职责是对 Web 对象进行监听 是被动触发</li>
</ul>
<h2 id="-">开发监听器三要素</h2>
<ul>
<li>实现 XxxListener 接口 不同的接口对应不同监听对象</li>
<li>实现每个接口中独有的方法 实现触发监听的后续操作</li>
<li>在 web.xml 中配置 <listener> 使监听器生效</li>
</ul>
<h2 id="-">开发一个监听器</h2>
<ol>
<li>新建一个标准web工程</li>
<li>创建包创建类 FirstListener.java 实现对应接口方法</li>
<li>配置 web.xml 或使用注解形式 推荐配置形式(因为是对全局的监听)</li>
</ol>
<p>FirstListener.java:</p>
<pre><code class="lang-java"><span class="hljs-keyword">public</span> <span class="hljs-class"><span class="hljs-keyword">class</span> <span class="hljs-title">FirstListener</span> <span class="hljs-keyword">implements</span> <span class="hljs-title">ServletContextListener</span> </span>{
  <span class="hljs-meta">@Override</span>
  <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">void</span> <span class="hljs-title">contextInitialized</span><span class="hljs-params">(ServletContextEvent sce)</span> </span>{
    System.out.println(<span class="hljs-string">"ServletContext 已初始化"</span>);
  }

  <span class="hljs-meta">@Override</span>
  <span class="hljs-function"><span class="hljs-keyword">public</span> <span class="hljs-keyword">void</span> <span class="hljs-title">contextDestroyed</span><span class="hljs-params">(ServletContextEvent sce)</span> </span>{
    System.out.println(<span class="hljs-string">"ServletContext 已销毁"</span>);
  }
}
</code></pre>
<p>web.xml:</p>
<pre><code class="lang-xml"><span class="hljs-tag">&lt;<span class="hljs-name">listener</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-name">listener-class</span>&gt;</span>com.imooc.listener.FirstListener<span class="hljs-tag">&lt;/<span class="hljs-name">listener-class</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">listener</span>&gt;</span>
</code></pre>
<p>注解形式 FirstListener.java:</p>
<pre><code class="lang-java"><span class="hljs-variable">@WebListener</span>
public class FirstListener implements ServletContextListener {}</code></pre>
<h2 id="-">六种常用监听接口</h2>
<p>内置对象监听接口</p>
<ul>
<li><code>ServletContextListener</code> 监听 ServletContext 对象创建、销毁等操作</li>
<li><code>HttpSeesionListener</code> 监听 HttpSession 对象创建、销毁等操作</li>
<li><code>ServletRequestListener</code> 监听 HttpServletRequest 对象创建、销毁等操作</li>
</ul>
<p>属性监听接口</p>
<ul>
<li><code>ServletContextAttributeListener</code> 监听全局属性操作</li>
<li><code>HttpSeesionAttributeListener</code> 监听用户会话属性操作</li>
<li><code>ServletRequestAttributeListener</code> 监听请求属性操作</li>
</ul>
<p>监听器可通过实现多个接口及实现对应方法</p>
<h2 id="-">监听器应用场景</h2>
<p><strong>请求流量分析</strong></p>
<ol>
<li>数据存放在全局上下文中 ServletContext</li>
<li>ServletRequestListener 监听请求</li>
<li>判断更新 timeList valueList</li>
<li>Servlet 利用 fastjson 返回数据 前端通过 ajax</li>
<li>排除统计页面 统计请求的请求统计</li>
</ol>
<p><strong>静态数据预处理(数据相对稳定)</strong></p>
<p>网站头部导航栏在应用启动时从数据库获取一次 存到 ServletContext中 不必每次请求从数据库获取</p>

<h2 id="linux-">LINUX安装</h2>
<p>下载 解压 .tar.tz 文件</p>
<p>解压命令：</p>
<pre><code>tar zxvf ..<span class="hljs-selector-class">.tar</span><span class="hljs-selector-class">.gz</span>
</code></pre><p>得到目录结构：</p>
<pre><code>├── <span class="hljs-keyword">bin
</span>│   ├── <span class="hljs-keyword">bsondump
</span>│   ├── mongo
│   ├── mongod
│   ├── mongodump
│   ├── mongoexport
│   ├── mongofiles
│   ├── mongoimport
│   ├── mongooplog
│   ├── mongoperf
│   ├── mongoreplay
│   ├── mongorestore
│   ├── mongos
│   ├── mongostat
│   └── mongotop
├── GNU-AGPL-<span class="hljs-number">3</span>.<span class="hljs-number">0</span>
├── MPL-<span class="hljs-number">2</span>
├── README
└── THIRD-PARTY-NOTICES
</code></pre>

</code></pre><h2 id="-">配置</h2>
<p>无论WIN，MAC都要自己建立目录，和配置信息。</p>
<p>新增目录结构：</p>
<pre><code>├── <span class="hljs-keyword">conf</span>
│   └── mongod.<span class="hljs-keyword">conf</span>
├── data
├── <span class="hljs-built_in">log</span>
│   └── mongod.<span class="hljs-built_in">log</span>
</code></pre>

</code></pre><h2 id="-">参考链接：</h2>
<p><a href="https://docs.mongodb.com/">docs.mongodb.org</a></p>
<p><a href="https://www.mongodb.com/">www.mongodb.com</a></p>
<p><a href="http://www.mongoing.com/">www.mongoing.com</a></p>
<p>mongoHub - MAC mongo 客户端</p>
<table>
<thead>
<tr>
<th style="text-align:left">Header One</th>
<th style="text-align:left">Header Two</th>
<th style="text-align:left">Header Two</th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left">Item One</td>
<td style="text-align:left">Item Two</td>
<td style="text-align:left">Item Two</td>
</tr>
<tr>
<td style="text-align:left">Header One</td>
<td style="text-align:left">Header Two</td>
<td style="text-align:left">Header Two</td>
</tr>
</tbody>
</table>
<p>今天放学后回家发现钥匙忘到单位了。我们爷俩只好等妈妈下班回家。估计儿子妈妈要到小区门口了，我们爷俩准备去门口接她，顺便买些吃的。</p>
<p>一路上，儿子跟我讲着学校足球课上的趣事。他说足球课上，我们这边的足球队员太厉害了，我们的守门员闲的没事可做了，坐着不知干啥好了，就和我聊天。足球一直在那边球门附近踢。那边的守门员被忙得手忙脚乱，一直闲不下来，有时一着急，还整乌龙球，用头顶到自己球门里了。乐死我了。</p>
<p>我问他:你没有上场踢吗？</p>
<p>他说:上场踢了。</p>
<p>我接着跟儿子说:对于你们的守门员来讲，他一点儿也没受到锻炼，而对方的守门员才真正的受到了锻炼。你们的守门员在那闲着，而对于守门来说，他却没得到任何机会去锻炼，比如说球可能从各种方向来，他怎么去扑救，如果真的陷入险境，他可能一下子不知所措了，而对方的守门员却经验越来越丰富了。</p>
<p>八九年 生于贵州安顺 现居四川成都 中国西南部活跃。</p>
<p>一四年 进入前端开发 遵循极简主义 热爱新特性 喜欢有趣的项目。部分开源在<a href="">GitHub</a>。</p>
<p>一九年 接触拍摄 追求氛围感 喜欢日系拍摄。偶尔分享在<a href="">微博</a>。</p>
<p>代码、摄影、撸啊撸、NBA、参考消息 我的全部。</p>
<p>留言给我 也可以通过<a href="">QQ</a>、<a href="mailto:zhangjh03@126.com">邮箱</a>联系我。也许？</p>
<p>开始吧！</p>
<p><img src="../img/5.jpg" alt="" title="简书"></p>
<p><img src="../img/1.jpg" alt="" title="简书"></p>
<p><img src="../img/2.jpg" alt="" title="简书"></p>
      </div>

      <!-- <div class="article-tags">
        <a class="article-tag" href="">2020</a>
        <a class="article-tag" href="">开发手册</a>
        <a class="article-tag" href="">JavaScript</a>
        <a class="article-tag" href="">Python</a>
      </div> -->

      <!-- <div class="article-info-list">
        <div class="article-info-item">
          <span class="article-info-title">发布日期：</span>
          <span>2020年06月05日</span>
        </div>
        <div class="article-info-item">
          <span class="article-info-title">永久链接：</span>
          <span>https://www.jqua.cn/articles/YUIVBNSDF987QGM</span>
        </div>
        <div class="article-info-item">
          <span class="article-info-title">版权声明：</span>
          <span>转载需署名-非商用（创意共享3.0许可证）</span>
        </div>
      </div> -->
    </div>
  </div>

</body>
</html>
