<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <!-- header -->
  <div class="header">
    <div class="container">
      <a class="logo-wrap" href="index.html">
        <img class="logo" src="../img/logo.png" alt="">
      </a>
      <ul class="nav-list">
        <li class="nav-item"><a href="index.html">首页</a></li>
        <li class="nav-item"><a href="articles.html">日志</a></li>
        <li class="nav-item"><a class="active" href="demos.html">演示</a></li>
        <li class="nav-item"><a href="about.html">关于</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div class="main">

      <!-- 日志分类 -->
      <div class="articles-filter">
        <div class="articles-categories">
          <a class="active" href="">全部标签</a>
          <a href="">JavaScript</a>
          <a href="">参考消息</a>
          <a href="">Python</a>
          <a href="">开发手册</a>
        </div>
      </div>

      <!-- 日志列表 -->
      <ul class="articles-list">
        <li class="articles-item"><a class="articles-title" href=""><h2>通过实现25个数组方法来理解及高效使用数组方法通过实现25个数组方法来理解及</h2></a><span class="articles-time">2020.05.28</span></li>
        <li class="articles-item"><a class="articles-title" href=""><h2>日志技术胖的2019新版React全家桶免费视频（84集）最新</h2></a><span class="articles-time">2020.05.28</span></li>
        <li class="articles-item"><a class="articles-title" href=""><h2>面试BAT前先搞定这18道MySQL经典面试题（含答案解析）</h2></a><span class="articles-time">2020.05.28</span></li>
      </ul>

    </div>

    <div class="siderbar">
      <!-- 标签 -->
      <div class="panel">
        <div class="panel-title">标签</span></div>
        <div class="panel-body">
          <ul class="panel-list">
            <li class="panel-item"><a href="">通过实现25个数组方法来理解</a></li>
            <li class="panel-item"><a href="">日志技术胖的2019新版React</a></li>
            <li class="panel-item"><a href="">搞定这18道MySQL经典面试题</a></li>
            <li class="panel-item"><a href="">说说 Node 和 ES6 模块化</a></li>
            <li class="panel-item"><a href="">React Native发布新一代JS引擎Hermes</a></li>
          </ul>
        </div>
      </div>

      <!-- 热门演示 -->
      <div class="panel">
        <div class="panel-title">热门演示</span></div>
        <div class="panel-body">
          <ul class="panel-list">
            <li class="panel-item"><a href="">通过实现25个数组方法来理解</a></li>
            <li class="panel-item"><a href="">日志技术胖的2019新版React</a></li>
            <li class="panel-item"><a href="">搞定这18道MySQL经典面试题</a></li>
            <li class="panel-item"><a href="">说说 Node 和 ES6 模块化</a></li>
            <li class="panel-item"><a href="">React Native发布新一代JS引擎Hermes</a></li>
          </ul>
        </div>
      </div>
  </div>

</body>
</html>
