<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <!-- header -->
  <div class="header">
    <div class="container">
      <a class="logo-wrap" href="index.html">
        <img class="logo" src="../img/logo.png" alt="">
      </a>
      <ul class="nav-list">
        <li class="nav-item active"><a href="index.html">首页</a></li>
        <li class="nav-item"><a href="article.html">日志</a></li>
        <li class="nav-item"><a href="message.html">镜像</a></li>
        <li class="nav-item"><a href="link.html">关于</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <div style="height:200px;border-radius:2px;background:#ccc;"></div>
  </div>
</body>
</html>
