<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <!-- header -->
  <div class="header">
    <div class="container">
      <!-- <a class="logo-wrap" href="index.html">
        <img class="logo" src="../img/logoo2.png" alt="">
      </a> -->
      <ul class="nav-list">
        <li class="nav-item"><a class="active" href="index.html">首页</a></li>
        <li class="nav-item"><a href="articles.html">日志</a></li>
        <li class="nav-item"><a href="demos.html">演示</a></li>
        <li class="nav-item"><a href="about.html">关于</a></li>
      </ul>
    </div>
  </div>

  <div class="container">
    <!-- 最新日志 -->
    <div class="card">
      <div class="card-header"><span class="card-title">最新日志</span></div>
      <div class="card-body">
        <ul class="card-list">
          <li class="card-item"><a href="">Java 监听器 Listener 总结</a></li>
          <li class="card-item"><a href="">最新日志标题测试示例</a></li>
          <li class="card-item"><a href="">最新日志标题测试示例</a></li>
          <li class="card-item"><a href="">最新日志标题测试示例最新日志标题测试示例</a></li>
          <li class="card-item"><a href="">最新日志标题测试示例最新日志标题测试示例</a></li>
        </ul>
      </div>
    </div>

    <!-- 最新演示 -->
    <div class="card">
      <div class="card-header"><span class="card-title">最新演示</span></div>
      <div class="card-body">
        <ul class="card-list">
          <li class="card-item"><a href="">最新演示标题测试示例</a></li>
          <li class="card-item"><a href="">最新演示标题测试示例</a></li>
          <li class="card-item"><a href="">最新演示标题测试示例</a></li>
          <li class="card-item"><a href="">最新演示标题测试示例最新日志标题测试示例</a></li>
          <li class="card-item"><a href="">最新演示标题测试示例最新日志标题测试示例</a></li>
        </ul>
      </div>
    </div>

    <!-- 热门日志 -->

    <!-- footer logo -->
    <!-- <div class="footer">
      <div class="footer-wrap">
        <img class="footer-logo" src="../img/logo2.png" alt="logo" >
      </div>
    </div> -->
  </div>
</body>
</html>
