<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <!-- header -->
  <div class="header">
    <div class="container">
      <a class="logo-wrap" href="index.html">ZHANGTENGXUE.COM</a>
      <ul class="nav-list">
        <li class="nav-item"><a class="active" href="index.html">Home</a></li>
        <li class="nav-item"><a href="articles.html">Articles</a></li>
        <li class="nav-item"><a href="demos.html">Demos</a></li>
        <li class="nav-item"><a href="about.html">About</a></li>
      </ul>
    </div>
  </div>

  <div class="user">
    <div style="margin-bottom:32px;font-size:12px;color:#f5f7f9;background:#f5f7f9;">
      <div class="container"><span style="padding:0 16px;">IP:192.168.34.74 贵州贵阳 移动网络</span></div>
    </div>
  </div>

  <div class="container">
    <!-- 最新日志 -->
    <div class="card">
      <div class="card-header">
        <span class="card-title">Latest Articles</span>
        <!-- <a class="card-more" href="">更多</a> -->
      </div>
      <div class="card-body">
        <ul class="card-list">
          <li class="card-item"><a href="">通过实现25个数组方法来理解及高效使用数组方法通过实现25个数组方法来理解及</a></li>
          <li class="card-item"><a href="">日志技术胖的2019新版React全家桶免费视频（84集）最新</a></li>
          <li class="card-item"><a href="">面试BAT前先搞定这18道MySQL经典面试题（含答案解析）</a></li>
          <li class="card-item"><a href="">说说 Node 和 ES6 模块化那些不为人知的事儿</a></li>
          <li class="card-item"><a href="">React Native发布新一代JS引擎Hermes</a></li>
        </ul>
      </div>
    </div>

    <!-- 最新演示 -->
    <div class="card">
      <div class="card-header">
        <span class="card-title">Most Popular</span>
        <!-- <a class="card-more" href="">更多</a> -->
      </div>
      <div class="card-body">
        <ul class="card-list">
          <li class="card-item"><a href="">通过实现25个数组方法来理解及高效使用数组方法通过实现25个数组方法来理解及</a></li>
          <li class="card-item"><a href="">日志技术胖的2019新版React全家桶免费视频（84集）最新</a></li>
          <li class="card-item"><a href="">面试BAT前先搞定这18道MySQL经典面试题（含答案解析）</a></li>
          <li class="card-item"><a href="">说说 Node 和 ES6 模块化那些不为人知的事儿</a></li>
          <li class="card-item"><a href="">React Native发布新一代JS引擎Hermes</a></li>
        </ul>
      </div>
    </div>
  </div>

</body>
</html>
