// Color
@white: #fff;
@black: #000;
@color-primary: deeppink;// deeppink; // royalblue;
@color-info: #2db7f5;
@color-success: #19be6b;
@color-warning: #ff9900;
@color-error: #ed4014;

@color-title: #000; // #17233d;
@color-text: #515a6e; // #515a6e;
@color-text-secondary: lighten(@black, 45%);
@color-code: @color-error;// #ff1493;
@color-pre: #71e78d;
@color-link: @color-primary;
@color-link-hover: lighten(@color-link, 20%);
@color-link-active: darken(@color-link, 20%);

@color-background-body: #DCE2F1; //#dee1e6;//#fff;//#515a6e;//#ececec;
@color-background-component: #fff;
@color-background-content: #fafafa;//#f5f7f9;
@color-background-code: #f8f9fb;//#f5f7f9;
@color-background-pre: #1e242c;

@color-border: #dcdee2;
@color-divider: #e8eaec;

// Font
@font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@font-family-code: Consolas,Menlo,Courier,monospace;

@font-size-xs: 12px;
@font-size-sm: 14px;
@font-size-md: 16px;
@font-size-lg: 18px;

// Spacing
@spacing-xs: 4px; // small items
@spacing-sm: 8px; // Form controls and items
@spacing-md: 16px; // small containers and buttons
@spacing-lg: 24px; // containers

@line-height: 1.5;
@border-radius: 2px;
