.articles {
  &-list {
    // margin-bottom: @spacing-md;
    padding: 13px 0;
    line-height: 18px;
    // border: 1px solid @color-border;
    & + & {
      border-top: 1px solid @color-primary;
    }
  }
  &-item {
    // .clearfix;
    & + & {
      margin-top: @spacing-md;
    }
  }
  &-time,
  &-title{
    // float: left;
  }
  &-time,
  &-hits {
    // color: @color-text-secondary;
  }
  &-title {
    margin-right: @spacing-md;
    color: @color-title;
    font-weight: bold;
    &:hover {
      border-bottom: 1px solid @color-primary;
    }
    h2 {
      display: inline;
    }
  }
  &-more-wrap {
    margin-bottom: @spacing-md;
    padding: @spacing-md 0;
  }
  // &-more {
  //   padding: @spacing-sm;
  //   cursor: pointer;
  //   color: @color-text-secondary;
  //   border-radius: 2px;
  //   border: 1px solid @color-border;
  //   &:hover {
  //     color: @color-primary;
  //     border-color: @color-primary;
  //   }
  // }
}
//
//   &-item-wrap {
//     display: block;
//     padding: @spacing-md;
//     &:hover {
//       .articles-title {
//         color: @color-primary;
//       }
//       .articles-category,
//       .articles-attr {
//         color: @color-text-secondary;
//       }
//     }
//   }
//   &-category,
//   &-attr {
//     color: @color-text-secondary;
//   }
//   &-category {
//     margin-bottom: @spacing-sm;
//   }
//   &-title {
//     margin-bottom: @spacing-sm;
//     color: @color-title;
//     font-weight: bold;
//     line-height: 18px;
//   }
//   &-attr-wrap {
//     .clearfix;
//   }
//   &-attr {
//     margin-right: @spacing-md;
//     float: left;
//   }
// }
