.articles-filter {
  // margin-bottom: @spacing-md;
  padding: @spacing-sm @spacing-md @spacing-md;
  background: @white;
  border-radius: 2px;
}
.articles-categories {
  .clearfix;
  & + & {
    margin-top: @spacing-sm;
  }
  a {
    float: left;
    margin-right: @spacing-sm;
    margin-top: @spacing-sm;
    padding: @spacing-xs @spacing-sm;
    // background: #ececec;
    color: @color-text-secondary;
    border: 1px solid @color-border;
    border-radius: 2px;
    &.active,
    &:hover {
      color: @color-primary;
      border: 1px solid @color-border;
    }
  }
}
