.articles {
  &-list {
    padding: 13px 0;
    line-height: 18px;
  }
  &-item {
    & + & {
      margin-top: @spacing-md;
    }
  }
  // &-dozen {
  //   padding-top: @spacing-md - 2;
  //   border-top: 2px solid #f1f4f8;
  // }
  // &-index {
  //   display: inline-block;
  //   width: 30px;
  // }
  // &-time,
  // &-title{
  //   float: left;
  // }
  // &-time,
  // &-hits {
  //   color: @color-text-secondary;
  // }
  // &-index,
  // &-time {
  //   font-family: @font-family-code;
  //   color: @color-text-secondary;
  // }
  // &-time {
  //   display: inline-block;
  //   margin-right: @spacing-md;
  // }
  &-title {
    // margin-right: @spacing-md;
    color: @color-title;
    font-weight: bold;
    &:hover {
      border-bottom: 1px solid @color-primary;
    }
  }
  // &-more-wrap {
  //   margin-bottom: @spacing-md;
  //   padding: @spacing-md 0;
  // }
  // &-more {
  //   padding: @spacing-sm;
  //   cursor: pointer;
  //   color: @color-text-secondary;
  //   border-radius: 2px;
  //   border: 1px solid @color-border;
  //   &:hover {
  //     color: @color-primary;
  //     border-color: @color-primary;
  //   }
  // }
}

.icon {
  display: inline-block;
  margin-top: -2px;
  margin-right: @spacing-sm;
  width: 4px;
  height: @font-size-xs;
  vertical-align: middle;
}
.icon-title {
  border-radius: 2px;
  background: @color-primary;
  background-size: 100%;
}
//
//   &-item-wrap {
//     display: block;
//     padding: @spacing-md;
//     &:hover {
//       .articles-title {
//         color: @color-primary;
//       }
//       .articles-category,
//       .articles-attr {
//         color: @color-text-secondary;
//       }
//     }
//   }
//   &-category,
//   &-attr {
//     color: @color-text-secondary;
//   }
//   &-category {
//     margin-bottom: @spacing-sm;
//   }
//   &-title {
//     margin-bottom: @spacing-sm;
//     color: @color-title;
//     font-weight: bold;
//     line-height: 18px;
//   }
//   &-attr-wrap {
//     .clearfix;
//   }
//   &-attr {
//     margin-right: @spacing-md;
//     float: left;
//   }
// }
