.header {
  margin-bottom: @spacing-md;
  border-bottom: 1px solid #d1d1d1;
  -webkit-box-shadow: 0 1px 3px #d1d1d1;
  box-shadow: 0 1px 3px #d1d1d1;
  &-container {
    padding-right: 0;
  }
}
.logo {
  padding: @spacing-lg 0;
  float: left;
  &-img {
    height: 12px;
  }
}

.nav {
  &-list {
    .clearfix;
    float: right;
  }
  &-item {
    float: left;
    &:hover,
    &.active {
      color: @color-primary;
    }
    // &.active {
    //   a {
    //     -webkit-box-shadow: 0 20px 14px -20px @color-primary;
    //     box-shadow: 0 20px 14px -20px @color-primary;
    //   }
    // }
    a {
      display: inline-block;
      padding: @spacing-lg;
    }
  }
}
