.header {
  margin-bottom: @spacing-md;
  border-bottom: 1px solid @color-border;

  // -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  //         box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);

  // -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  //         box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.logo {
  height: 60px;
  &-wrap {
    display: none;
    margin-left: -@spacing-md;
    padding: 0 @spacing-md;
    float: left;
    // width: 60px;
    // padding-top: 16px;
    // padding-bottom: 16px;
    &:hover {
      background: @color-background-light;
    }
  }
}

.nav {
  &-list {
    .clearfix;
    float: right;
    margin-right: -@spacing-sm*3;
  }
  &-item {
    float: left;
    // margin-left: @spacing-md;
    a {
      display: inline-block;
      padding: @spacing-sm*3;
      &.active {
        color: @color-primary;
      }
      &:hover {
        color: @color-primary;
        background: @color-background-light;
      }
    }
  }
}
