.header {
  margin-bottom: @spacing-md;
  // border-bottom: 1px solid @color-border;

  // -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  //         box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);

  // -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.1);
  //         box-shadow: 0 1px 3px rgba(26,26,26,.1);

  // border-bottom: 1px solid rgba(255, 20, 147, .2);
  // -webkit-box-shadow: 0 1px 3px rgba(255, 20, 147, .2);
  // box-shadow: 0 1px 3px rgba(255, 20, 147, .2);

  border-bottom: 1px solid rgba(26, 26, 26, .2);
  -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, .2);
  box-shadow: 0 1px 3px rgba(26, 26, 26, .2);
}
.logo {
  height: 12px;
  &-wrap {
    // display: none;
    // margin-left: -@spacing-md;
    padding: @spacing-lg 0;
    float: left;
    // width: 60px;
    // padding-top: 16px;
    // padding-bottom: 16px;
    &:hover {
      // background: @color-background-light;
    }
  }
}

.nav {
  &-list {
    .clearfix;
    float: right;
    margin-right: -@spacing-lg;
  }
  &-item {
    float: left;
    // margin-left: @spacing-md;
    a {
      display: inline-block;
      padding: @spacing-lg;
      &.active {
        color: @color-primary;
      }
      &:hover {
        color: @color-primary;
        // background: @color-background-light;
      }
    }
  }
}
