.card {
  margin-bottom: @spacing-md;
  // border: 1px solid @color-border;
  // border-radius: 2px;
  // background: @white;
  &-header {
    .clearfix;
    padding: @spacing-md;
    // border-bottom: 1px solid @color-divider;
  }
  &-title {
    color: @color-title;
    font-weight: bold;
  }
  // &-more {
  //   float: right;
  //   color: @color-text-secondary;
  // }
  &-body {
    padding: @spacing-md;
    line-height: 18px;
  }
  &-list {
    color: @color-text;
    // border: 1px solid @color-border;
  }
  &-item + &-item {
    margin-top: @spacing-md;
    // border-top: 1px solid @color-divider;
  }
  &-item {
    a {
      // display: block;
      // padding: 13px @spacing-md;
      &:hover {
        // color: @color-title;
        // background: @color-background-content;
        border-bottom: 1px solid @color-primary;
      }
    }
  }
}

.panel {
  margin-bottom: @spacing-md;
  // background: @color-background-content;
  // color: @color-text-secondary;
  // border: 1px solid @color-border;
  // border-radius: 2px;
  // background: @white;
  &-title {
    padding: @spacing-md;
    color: @color-title;
    font-weight: bold;
    // border-bottom: 1px solid @color-divider;
  }
  &-body {
    padding: @spacing-md;
  }
  &-list {
    line-height: 18px;
    // &-link:hover {
    //   border-bottom: 1px solid @color-primary;
    // }
  }
  &-item + &-item {
    margin-top: @spacing-sm;
  }
  &-item {
    a:hover {
      border-bottom: 1px solid @color-primary;
      // text-decoration: underline;
    }
  }
}
