@import "normalize";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: @font-family;
  font-size: @font-size-xs;
  line-height: 1;//@line-height;
  color: @color-text;
  // background-color: @color-background-body;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  .clearfix;
  margin: 0 auto;
  padding: 0 @spacing-md;
  width: 732px;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}

a {
  color: inherit;
  // color: @color-primary;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  // transition: color @transition-time ease;

  &:hover {
    color: @color-primary;
  }

  &:active {
    color: @color-primary;
  }

  &:active,
  &:hover {
    outline: 0;
    text-decoration: none;
  }

  // &[disabled] {
  //   color: #ccc;
  //   cursor: @cursor-disabled;
  //   pointer-events: none;
  // }
}

img {
  display: block;
}

code,
kbd,
pre,
samp {
  font-family: @font-family-code;
}
