@import "normalize";

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: @font-family;
  font-size: @font-size-xs;
  line-height: 1;
  color: @color-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  .clearfix;
  margin: 0 auto;
  padding: 0 @spacing-lg;
  max-width: 792px;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input::-ms-clear, input::-ms-reveal {
  display: none;
}

a {
  color: inherit;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  &:hover,
  &:active {
    color: @color-primary;
    outline: 0;
    text-decoration: none;
  }
}

img {
  display: block;
}

code,
kbd,
pre,
samp {
  font-family: @font-family-code;
}
